@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

h1{
    color: black;
    font-family: 'Work Sans', sans-serif;
    font-size: 50px;
  }

  h2{
    color: black;
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
  }

  p{
    color: black;
    font-family: 'Work Sans', sans-serif;
    font-size: 25px;
  }


.link{
  color: black;

  }

  .bord {
    background-color: red;
    color: black;
    border: 0.5px solid black;
    padding: 7px;
  }

  .bord2 {
    background-color: red;
    color: black;
    border: 0.5px solid black;
    padding: 16px;
  }

  .bord2 {
    background-color: red;
    color: black;
    border: 0.5px solid black;
    padding: 16px;
  }

  .bord3 {
    color: black;
    border: 12px solid red;
    padding: 16px;
  }

  footer {
    background-color: white;
    color: #666;
    border: 8px solid red
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  }